In [27]:
import mesa

In [ ]:
class MyModel(mesa.Model):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.x = 0
        self.datacollector = mesa.DataCollector(
            model_reporters={
                "x": "x",
            }
        )
    
    def step(self):
        self.datacollector.collect(model=self)
        self.x += 1

model = MyModel()
model.step()
model.step()
model.step()
model.step()

In [32]:
model.datacollector.get_model_vars_dataframe()

   x
0  0
1  1
2  2
3  3

In [41]:
from mesa.examples.advanced.sugarscape_g1mt.model import SugarscapeG1mt

model = SugarscapeG1mt()
model.step()

In [ ]:
model.grid